.wrapper {
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--color-basic);
    transition: .25s ease;
    -webkit-transition: .25s ease;
    -moz-transition: .25s ease;
    -ms-transition: .25s ease;
    -o-transition: .25s ease;
    position: relative;
    z-index: 50;

    .container {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color: #fff;
        width: 100%;
        height: 170px;
        color: var(--white-color);
        padding: 6px 6px;


        .content {
            height: 100%;
            background-color: var(--color-basic);
            outline: none;
            transition: .25s ease;
            -webkit-transition: .25s ease;
            -moz-transition: .25s ease;
            -ms-transition: .25s ease;
            -o-transition: .25s ease;
            border: none;

            color: var(--white-color);
            font-size: 18px;
            font-weight: 300;
        }
    }

    .buttons_container {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -50px;
        display: flex;
        justify-content: center;
        column-gap: 8px;
        background-color: var(--color-primary);
        padding: 8px 10px;
        transition: .15s ease-in-out;
        -webkit-transition: .15s ease-in-out;
        -moz-transition: .15s ease-in-out;
        -ms-transition: .15s ease-in-out;
        -o-transition: .15s ease-in-out;
    }
}

.wrapper:hover {
    .container {
        padding-bottom: 56px;
    }

    .buttons_container {
        bottom: 0;
    }
}

.status_complited {
    border-bottom: 3px solid var(--color-green);
}

.status_complited:hover {
    border-bottom: 3px solid var(--color-green-hover);
}

.status_unfulfilled {
    border-bottom: 3px solid var(--color-red);
}

.status_unfulfilled:hover {
    border-bottom: 3px solid var(--color-red-hover);
}