.custom_input {
    background-color: var(--color-primary);
    color: var(--white-color);
    padding: 6px 12px;
    width: 100%;
    max-width: 320px;
    outline: none;
    border: 1px solid var(--color-primary);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;

    font-size: 24px;
    font-weight: 300;
    cursor: pointer;

}

.custom_input::placeholder {
    color: var(--white-color);
    opacity: .6;
}

.custom_input:focus {
    border: 1px solid var(--white-color);
}